/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

html {
  font-size: 1vw;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

body {
  background-repeat: no-repeat;
  overflow-x: hidden;
}

header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  transition: 0.6s;
  padding: 1rem 2rem;
  z-index: 100000;
  transform: translateZ(10px);
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 5rem;
  padding: 25px;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
}
h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #fff;
}

header .logo {
  float: left;
  display: inline;
  width: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.8rem;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 5px;
}

header .logo:hover {
  cursor: pointer;
}

#home-sub-title {
  color: #000;
  text-align: center;
}

.sidenav-icon {
  border: solid white;
  border-width: 0 0.25rem 0.25rem 0;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  transition: 0.5s ease;
}

.sticky {
  padding: 1rem 5rem;
  background: #000;
}

/* The side navigation menu */
#side-nav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(0, 0, 0);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5%; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
#side-nav a {
  padding: 1rem 1rem 1rem 2rem;
  text-decoration: none;
  font-size: 1.3rem;
  color: #818181;
  display: block;
  transition: 0.3s;

  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
}

/* When you mouse over the navigation links, change their color */
#side-nav a:hover {
  color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
  position: relative;
  transition: left 0.5s;
}

#container-home {
  height: 100vh;
  width: 100%;
  background: url(images/render8.jpg);
  background-position: top 20px;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*add tint over background*/
.overlay {
  z-index: 1;
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  transform: translateZ(-100px);
}

#content-page__overlay {
  background: rgba(0, 0, 0, 0.7);
}

.intro-card {
  position: absolute;
  width: 60%;
  max-width: 3000px;
  height: 55%;
  z-index: 2;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 10px 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  animation: slide-up 1s ease;
}

@keyframes slide-up {
  from {
    transform: translateY(800px);
  }

  to {
    transform: translateY(0px);
  }
}

.profile-img {
  width: 50%;
  object-fit: cover;
  margin-bottom: 5%;
  border-radius: 50%;
  transform: translateZ(20px);
  filter: drop-shadow(10px 15px 20px #0007);
}

.intro-card-white {
  float: left;
  height: 100%;
  width: 30%;
  background-color: #fff;
  text-align: center;
  border-radius: 1rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-card-white h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: normal;
  color: #000;
  margin-bottom: 10px;
}

.contact-btn {
  background-color: white;
  border: 2px solid #555555;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;

  transform: translateZ(20px);
}

.contact-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#contact-me {
  text-align: center;
  padding: 10px;
}

.intro-card-glass {
  float: right;
  height: 100%;
  width: 70%;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-card-glass h1 {
  padding: 0 10% 3% 10%;
  color: #fff;
}

.intro-card-glass p {
  font-style: normal;
  font-weight: 400;
  max-width: 60ch;
  font-size: 1rem;
  line-height: 2rem;
  color: #fff;
  padding: 0 10%;
}

.content {
  position: relative;
  top: -2rem;
  height: 100%;
  z-index: 3;
  background-color: #fff;
  border-radius: 2rem 2rem 0px 0px;
  padding: 0 10% 0 10%;
}

.content h2 {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: black;
  padding: 30px 20px 25px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.153);
}

.card-container {
  width: 60%;
  height: auto;
  margin: auto;
  padding: 25px;
}

.long-card {
  position: relative;
  width: 100%;
  height: 28rem;
  transition: 0.6s ease;
  margin-bottom: 2.7rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 30px #888888a3;
}

.long-card:hover {
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.05) !important;
  -ms-transform: scale(1.05) !important;
  transition: all 0.5s ease !important;
}

.long-card-content {
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0px 0px 5rem 3rem;
}

.long-card-content *:not(:last-child) {
  margin-bottom: 2%;
}

.long-card-content h3 {
  font-style: normal;
  color: #fff;
  padding: 0;
}
.long-card-content h4 {
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.long-card-content p {
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
  max-width: 45ch;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.card-overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 1rem;
}

.view-project {
  position: absolute;
  display: flex;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.view-project h5 {
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
  float: left;
}

.view-project-arrow {
  width: 1vw;
  height: 1vw;
  border: solid white;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 0.05rem;
  margin: 0.3rem;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.card-container button {
  position: relative;
  left: 36%;
  background-color: white;
  border: 2px solid #555555;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  width: 30%;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.card-container button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.card-container button span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.card-container button:hover {
  background-color: black;
  color: #fff;
}

.card-container button:hover span {
  padding-right: 25px;
  color: #fff;
}

.card-container button:hover span::after {
  opacity: 1;
  right: 0;
}

footer {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 15px;
  background-color: #fff;
}

footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.153);
  color: rgba(0, 0, 0, 0.42);
  padding-top: 1%;
}

/* Content Page */

#container-content {
  height: 100vh;
  width: 100%;
  background: url(images/Handz\ -\ 01.jpg);
  background-position: top 20px;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}

.textbox {
  height: 100%;
  width: 75%;
  padding-top: 8%;
  position: fixed;
}

.textbox h1 {
  padding: 0 0 0 25px;
  color: #fff;
}

.textbox h4 {
  color: #fff;
  padding: 10px 0 20px 25px;
}

/* Hero banner textbox text */
.textbox p {
  font-style: normal;
  line-height: 1.8rem;
  font-weight: 400;
  padding: 0px 40px 25px 25px;
}

.content-img {
  width: 75%;
  height: 60vh;
  margin-top: 5%;
  object-fit: cover;
  border-radius: 0.5rem;
}

#content-container__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#content-container__content p {
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #000;
  width: 50%;
}

iframe {
  width: 750px;
  height: 415px;
  margin-top: 5%;
}

/* Scroll Reveal Effect */
.reveal {
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #sidenav {
    padding-top: 15px;
  }
  #sidenav a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 1vw;
  }

  .intro-card {
    width: 80%;
  }
}

/* mobile */
@media only screen and (max-width: 600px) {
  html {
    font-size: 3.5vw;
  }

  body {
    position: relative;
    width: 100%;
  }

  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  h4 {
    font-size: 1.1rem;
  }

  p {
    line-height: normal;
  }

  header {
    padding: 20px;
  }

  header .logo {
    font-size: 1.3rem;
    line-height: 1rem;
  }

  header .logo:hover {
    cursor: pointer;
  }

  .sidenav-icon {
    padding: 0.3rem;
  }

  .sticky {
    padding: 1rem 2rem;
  }

  .intro-card {
    position: relative;
    width: 90%;
    height: 67%;
    border-radius: 1rem;
  }

  .intro-card-white {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    float: none;
    bottom: 0;
    width: 100%;
    height: 30%;
    border-radius: 0 0 1rem 1rem;
    justify-content: center;
  }

  .intro-card-white img {
    width: 32%;
    margin: 0;
    padding: 5%;
    align-self: center;
  }

  .intro-card-white h2 {
    font-size: 1.5rem;
    line-height: normal;
    margin-bottom: 5px;
  }

  .contact-container {
    width: 50%;
    height: fit-content;
    padding: 5% 0;
    align-self: center;
  }

  .contact-btn {
    border: 2px solid #555555;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    width: 80%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 0.5rem;
  }

  #contact-me {
    padding: 5px;
    font-size: 1.3rem;
  }

  .intro-card-glass {
    float: none;
    top: 0;
    height: 70%;
    width: 100%;
    border-radius: 0 1rem 1rem 0;
    overflow: hidden;
    text-align: justify;
    text-justify: inter-word;
  }

  .intro-card-glass h1 {
    line-height: normal;
    padding: 5% 10%;
  }

  .intro-card-glass p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding-bottom: 5%;
  }

  #container-home {
    background-position: center;
    height: 100vh;
  }

  .content {
    padding: 0 5% 0 5%;
  }

  .content h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .content h2 {
    padding: 20px 0px 20px 0px;
    margin-bottom: 20px;
  }

  .card-container {
    position: relative;
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .long-card {
    height: 20rem;
    margin-bottom: 2rem;
  }

  .long-card-content {
    padding: 0 0 1rem 1.5rem;
    height: 80%;
  }

  .long-card-content h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .view-project {
    right: 0;
    bottom: 10%;
    padding: 0;
  }

  .view-project-arrow {
    margin: 0.6rem;
  }

  .card-container button {
    left: 26%;
    width: 50%;
    margin: 0;
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  footer {
    padding: 1rem 0;
    width: 100%;
  }

  footer p {
    font-size: 0.8rem;
  }

  /* Content page */
  #container-content {
    background-position: center;
  }

  .textbox {
    padding-top: 20%;
    width: 90%;
    text-align: justify;
    text-justify: inter-word;
  }

  .textbox h1 {
    padding: 0 0 0 10px;
  }

  .textbox h2 {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .textbox h4 {
    padding: 10px 0 0 10px;
  }

  .textbox p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 15px 0 0 10px;
  }

  .content-img {
    align-self: center;
    width: 100%;
    height: 15em;
    border-radius: 0.5rem;
  }

  iframe {
    width: 350px;
    height: 200px;
  }

  #content-container__content {
    padding-top: 5%;
  }

  #content-container__content h2 {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  #content-container__content p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    width: 38ch;
  }
}

@media only screen and (min-width: 1500px) {
  html {
    font-size: 0.8vw;
  }
}
